name: Sample demo file.
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v6
      - name: set up java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
      - name: mvn commands
        run : mvn clean test package
      - name: docker setup
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/$IMAGE_NAME:${{ github.sha }} \
                       -t ${{ secrets.DOCKER_USERNAME }}/$IMAGE_NAME:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/$IMAGE_NAME:${{ github.sha }}
          docker push ${{ secrets.DOCKER_USERNAME }}/$IMAGE_NAME:latest
          
      
